.terminal-window {
	overflow-y: scroll;
	display: grid;
	grid-template-rows: 25px 35px 30px;
	border-radius: 2%;
	background: #1e1e1e;
}

.bar {
	grid-row: 1;
	background-color: #39353d;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	height: 1.8rem;
}

.icon-exit {
	position: absolute;
	left: 0.6rem;
}

.icon-minimize {
	position: absolute;
	left: 2.1rem;
}

.icon-folder {
	margin-right: 0.4rem;
}

.login {
	background: #1e1e1e;
	margin: 1rem 0 0 0.7rem;
	grid-row: 2;
	font-size: 1rem;
}

.user-container {
	display: flex;
	flex-flow: column;
	grid-row: 3;
}

.user {
	font-size: 0.9rem;
}
